$brand-color: grey;

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Ariral, sans-serif;
  font-size: $l-size;
  background-color: $dark-blue;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

